@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--bs-body-bg: #eee;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a, a:hover {
	text-decoration: none;
	color: unset;
}

